.gestao-container {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ffffff; /* Cor de fundo da página */
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espaçamento entre os botões */
}

.button-container button {
    background-color: #3a8648; /* Botão verde escuro */
    color: white;
    border: none;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    width: 160px;
    height: 160px; /* Tamanho fixo para os botões */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve para os botões */
}

.button-container button:hover {
    background-color: #2f6f3b; /* Cor do botão ao passar o mouse */
}

.button-container img {
    width: 50px; /* Tamanho do ícone dentro do botão */
    height: 50px;
    margin-bottom: 10px; /* Espaçamento entre o ícone e o texto */
}

.button-container span {
    font-size: 14px; /* Tamanho do texto no botão */
    text-align: center;
}
