/* src/styles/geral/listar-vendas-page.css */
.listar-vendas-page {
    padding: 20px;
    background-color: #f9f9f9;
}

.header {
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
    color: #fffafa;
}
