.pagina-gerenciar-clientes-container {
    padding: 20px;
}

.header {
    background-color: #003c69;
    color: white;
    padding: 10px;
    text-align: center;
}

.pagina-main {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input {
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    padding: 10px 15px;
    background-color: #003c69;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #002c51;
}
