
.gerenciar-clientes-container {
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-add-container {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add-button {
    background-color: #4caf5c;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.add-button:hover {
    background-color: #45a049;
}

.clientes-table {
    width: 100%;
    border-collapse: collapse;
}

.clientes-table th, .clientes-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.clientes-table th {
    background-color: #ffffff; /* Azul para os títulos */
    color: white;
    text-align: left;
}

.clientes-table td {
    background-color: #f9f9f9;
}

.edit-button, .delete-button {
    background: none;
    border: none;
    cursor: pointer;
}

.edit-button img, .delete-button img {
    width: 20px;
    height: 20px;
}

.error-message {
    color: #dc3545;
    margin-top: 10px;
    font-size: 16px;
}
