.adicionar-produto-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.input-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input, 
.input-group select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.add-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.add-button:hover {
    background-color: #218838;
}
