.realizar-compra-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #004080;
    padding: 10px;
    color: #fff;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.compra-form {
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.input-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.carrinho {
    margin-top: 20px;
}

.carrinho-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.carrinho-table th, 
.carrinho-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.total {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.finalizar-button {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.finalizar-button:hover {
    background-color: #0056b3;
}
.error-message {
    color: #dc3545; /* Vermelho para erros */
    margin-top: 10px;
    font-size: 16px;
}
